@charset "UTF-8";

/*
Tudo que no HTML é id = # no CSS
Tudo que no HTML é class = . no CSS 
*/ 

body {
    background-color: #ffffff;
}

h1 {
    color: #386653;
}

h1#principal {
    background-color: #386653;
    text-align: center;
    color: #26332E;
}

.basico {
    background-color: rgb(13, 32, 0);
    color: #38906B;
    font-weight: bold
}

.intermediario{
    background-color: rgb(61, 28, 4);
    color: chocolate;
    font-weight: bold;
}

.avancado{
    background-color: rgb(44, 1, 1);
    color: brown;
    font-weight: bold;
}

.destaque{
    background-color: yellowgreen;
}

p {
    color: #386552;
}